{% extends 'base.html' %}
{% block content %}
    <div class="form_container">
        <div class="button_container">
            <div class="flux_button">
                <a href="{% url 'ticket_creation' %}"><input type="button" class="button" value="Demander une critique"/></a>
            </div>
            <div class="flux_button">
                <a href="{% url 'review_creation' %}"><input type="button" class="button" value="Créer une critique"/></a>
            </div>
        </div>
    </div>
{% endblock content %}