{% extends 'base.html' %}
{% block content %}
    <div class="form_container">
        <h1>Suivre d'autres utilisateurs</h1>
        
        <form method="post" class="subscription_form">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Nom d'utilisateur">
            <button type="submit" class="button">Envoyer</button>
        </form>

        <h3>Abonnements</h3>
        <table class="subscriptions_table">
            <tbody>
            {% for followed in all_followed %}
                <tr>
                    <td>{{ followed.followed_user }}</td>
                    <td><a href="{% url 'unsubscribe' followed.id %}">Désabonner</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            
        <h3>Abonnés</h3>
        <table class="subscriptions_table">
            <tbody>
            {% for follower in all_followers %}
                <tr>
                    <td>{{ follower.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}