* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 100px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Gill Sans", sans-serif;
}

.block_content {
    margin: 20px 0;
}

/* ------------------------------ HEADER -------------------------------*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 1px 1px #d8d8d8;
}

header .header_content {
    height: auto;
    max-width: 1280px;
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

header .header_content .header_img {
    max-height: 80px;
	width: auto;
}

header .header_content .header_menu {
    margin-left: auto;
}

header .header_content .header_menu ul {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

header .header_content li a {
    display: block;
    color: #5D6D7E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
}

header .header_content li a:hover {
    color: #AEB6BF;
}
/* ------------------------------ END HEADER -------------------------------*/
/* --------------------------------- FORM CONTAINER ----------------------------------*/
.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 60px 30px;
    border-radius: 10px;
    width: auto;
    max-width: 1280px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form_container h1 {
    color: #5D6D7E;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form_container h2 {
    color: #5D6D7E;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.form_container h3 {
    color: #5D6D7E;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form_container p {
    width: 300px;
    text-align: center;
    color: #5D6D7E;
    font-size: 13px;
    margin-top: 10px;
}

.form_container a {
    text-align: center;
    color: #5D6D7E;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 15px;
    color: #5D6D7E;
}

#id_rating {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#id_rating input {
    width: auto;
    margin: 0 10px;
}

.form textarea {
    width: 300px;
    margin-bottom: 15px;
}

.form label {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
/* --------------------------------- BUTTON ------------------------------------*/
.button {
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #5D6D7E;
    outline:none;
    cursor:pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #AEB6BF;
}
/* --------------------------------- END BUTTON ------------------------------------*/

/* ------------------------------- SUBSCRIPTIONS ---------------------------------*/
.subscription_form input {
    width: 800px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
}

.subscriptions_table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    color: #5D6D7E;
}

.subscriptions_table a {
    color: #5D6D7E;
    text-decoration: none;
}

.subscriptions_table a:hover {
    color: #AEB6BF;
}

.subscriptions_table td{
    border: 3px solid #5D6D7E;
}

.subscriptions_table td:nth-child(1){
    width: 80%;
    padding-left: 10px;
    text-align: left;
  }
/* -------------------------- END SUBSCRIPTIONS --------------------------*/

/* ------------------------------- FLUX ----------------------------------*/
.button_container {
    height: auto;
    max-width: 1280px;
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.flux_button {
    margin-right: 30px;
    margin-left: 30px;
}
/* ----------------------------- END FLUX --------------------------------*/


/* ------------------------------ FOOTER ---------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 -1px 1px #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 auto;
    color: #5D6D7E;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
/* --------------------------- END FOOTER --------------------------------*/