{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="header_content">
                <a href="{% url 'flux' %}"><img class="header_img" src="{% static 'images/logo.png' %}" alt="logo" ></a>
                <nav class="header_menu">
                    {% if user.is_authenticated %}
                    <ul>
                        <li><a href="{% url 'flux' %}">Flux</a></li>
                        <li><a href="{% url 'posts' %}">Posts</a></li>
                        <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
                        <li><a href="{% url 'logout' %}">Se déconnecter ({{ request.user }})</a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a href="{% url 'login' %}">Se connecter</a></li>
                        <li><a href="{% url 'signup' %}">S'inscrire</a></li>
                    </ul>
                    {% endif %}
                </nav>           
            </div>
        </header>
        <div class="block_content">
            {% for message in messages %}
                <p{% if message.tags %} class="alert-{{message.tags}}" {% endif %}>
                    {{ message }}
                </p>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>LITReview</p>
        </footer>
    </body>
</html>